@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body,
p,
a {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6 {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 600;
  margin: 0;
  padding: 0;
  color: #1E1E1E;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #000000;
}

.btn-primary {
  background-color: #85BC03;
  display: inline-block;
  color: #fff;
  padding: 10px 30px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  border: none;
}

.btn-secondary {
  background-color: #7F8287;
  display: inline-block;
  color: #fff;
  padding: 10px 30px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  border: none;
}

/* -- --------------------
Sroll To Top on Click 
----------------------
*/
.scrollToTop {
  z-index: 9999;
  text-align: center;
  background: #85BC03;
  color: #fff;
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none !important;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.scrollToTop.d-block {
  display: block !important;
}
.scrollToTop button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scrollToTop button i {
  padding: 3px;
  font-size: 18px;
  color: #fff;
}
.scrollToTop:hover {
  text-decoration: none;
  background-color: #85BC03;
}

/* -- --------------------
tap-call 
----------------------
*/
.mobile-call-button {
  position: fixed;
  bottom: 80px;
  right: 30px;
  text-align: center;
  z-index: 99;
  width: 40px;
  height: 40px;
  background: #85BC03;
  border-radius: 50%;
  display: none;
}
@media screen and (max-width: 767px) {
  .mobile-call-button {
    display: block;
  }
}
.mobile-call-button a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-call-button a i {
  padding: 3px;
  font-size: 18px;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .scrollToTop,
  .mobile-call-button {
    right: 10px;
  }
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul li {
  display: block;
  font-size: 16px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

figure {
  margin: 0;
}

img {
  width: 100%;
  transition: 0.4s all;
}

p {
  line-height: 1.5;
}

a {
  color: #8D8D8D;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  display: block;
  overflow: hidden;
  transition: 0.4s all;
}
a:hover, a:focus, a:active {
  text-decoration: none;
  font-style: normal;
  cursor: pointer;
  outline: none;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.no-border-right {
  border-right: none !important;
}

.no-border-left {
  border-left: none !important;
}

.no-border-top {
  border-top: none !important;
}

.no-border-bottom {
  border-bottom: none !important;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.padding {
  padding: 40px 0;
}

@media screen and (max-width: 767px) {
  .padding {
    padding: 30px 0;
  }
}
@media screen and (max-width: 576px) {
  .padding {
    padding: 15px 0;
  }
}
@media screen and (max-width: 480px) {
  .padding {
    padding: 10px 0;
  }
}
section {
  position: relative;
}

.section-padding {
  padding: 80px 0px;
}

.block-heading {
  font-size: 28px;
  color: #1E1E1E;
  font-weight: 700;
}

.main-description {
  font-size: 18px;
  color: #000000;
}

.sub-description {
  font-size: 16px;
  color: #8D8D8D;
}

@media screen and (max-width: 992px) {
  .section-padding {
    padding: 40px 0px;
  }
}
@media screen and (max-width: 576px) {
  .section-padding {
    padding: 30px 0px;
  }
}
header {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
}
header .navbar {
  padding: 15px 0px;
}
header .navbar .navbar-brand {
  width: 200px;
}
header .navbar .navbar-toggler {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #8D8D8D;
}
header .navbar .offcanvas .offcanvas-header img {
  width: 180px;
}
header .navbar .offcanvas .offcanvas-body {
  justify-content: flex-end;
}
header .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item .nav-link {
  padding: 0 15px;
  color: #000000;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 16px;
  transition: 0.3s ease-in-out;
}
header .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item.active .nav-link, header .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item:hover .nav-link {
  color: #B2EE25;
}
header .navbar .offcanvas .offcanvas-body .nav-btn {
  margin-left: 40px;
}
header.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #fff;
  background-image: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.082);
}
header.fixed-header .navbar {
  padding: 10px 0px;
}
header.fixed-header .navbar .navbar-brand {
  width: 120px;
}
header.fixed-header .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item .nav-link {
  color: #1E1E1E;
}
header.fixed-header .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item.active .nav-link, header.fixed-header .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item:hover .nav-link {
  color: #B2EE25;
}
header.fixed-header .navbar .offcanvas .offcanvas-body .nav-btn {
  margin-left: 40px;
}

@media screen and (max-width: 992px) {
  header .navbar {
    padding: 10px 0px;
  }
  header .navbar .navbar-brand {
    width: 180px;
  }
  header .navbar .navbar-toggler {
    border-radius: 10px;
  }
  header .navbar .offcanvas .blur-hero {
    display: block;
  }
  header .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item .nav-link {
    padding: 5px 10px;
    color: #1E1E1E;
  }
  header .navbar .offcanvas .offcanvas-body .nav-btn {
    margin-left: 0px;
    margin-top: 30px;
  }
}
.banner {
  background-image: url("../images/banner-bg.png");
  padding: 0px 0px 60px 0px;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9333333333);
  z-index: 1;
}
.banner .hero-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  position: relative;
}
.banner .hero-banner .hero-baner-content {
  width: 48%;
  margin: 20px 0px;
}
.banner .hero-banner .hero-baner-content .baner-title {
  font-size: 58px;
  color: #85BC03;
  line-height: 1.1;
}
.banner .hero-banner .hero-baner-content .baner-title span {
  color: #1E1E1E;
}
.banner .hero-banner .hero-baner-content .main-description {
  padding: 20px 0px;
}
.banner .hero-banner .hero-baner-content .banner-btn .btn-primary {
  border-radius: 5px 5px 5px 30px;
  margin-right: 30px;
}
.banner .hero-banner .hero-baner-content .banner-btn .btn-primary:hover {
  border-radius: 5px 30px 5px 5px;
}
.banner .hero-banner .hero-baner-content .banner-btn .btn-secondary {
  border-radius: 5px 30px 5px 5px;
}
.banner .hero-banner .hero-baner-content .banner-btn .btn-secondary:hover {
  border-radius: 5px 5px 5px 30px;
}
.banner .hero-banner .hero-banner-image {
  width: 40%;
  height: 600px;
}
.banner .hero-banner .hero-banner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px 0px 10px 200px !important;
}
.banner .hero-banner .hero-banner-image img:hover {
  margin-top: 10px;
  border-radius: 10px 10px 10px 200px !important;
}

.statistics {
  background-color: #fff;
  border-radius: 60px;
  border-bottom: 1px solid #85BC03;
  margin: 0 auto;
  width: 32%;
  height: 110px;
  z-index: 1;
  margin-top: -50px !important;
}
.statistics .container {
  display: flex;
  align-items: center;
}
.statistics .container .stat-item {
  flex: 1;
  text-align: center;
  padding-top: 20px;
}
.statistics .container .stat-item .item-1 {
  padding-left: 20px;
}
.statistics .container .stat-item h2 {
  font-size: 26px;
  color: #85BC03;
  margin-bottom: 5px;
}
.statistics .container .stat-item p {
  font-size: 13px;
  color: #000000;
  font-weight: 400;
}

@media screen and (max-width: 1276px) {
  .statistics {
    width: 50%;
  }
}
@media screen and (max-width: 992px) {
  .banner {
    padding: 80px 0px 30px 0px;
  }
  .banner .hero-banner {
    flex-direction: column;
  }
  .banner .hero-banner .hero-baner-content {
    width: 100%;
    margin: 20px 0px;
  }
  .banner .hero-banner .hero-baner-content .baner-title {
    font-size: 38px;
  }
  .banner .hero-banner .hero-baner-content .main-description {
    padding: 20px 0px;
  }
  .banner .hero-banner .hero-baner-content .banner-btn .btn-primary {
    border-radius: 5px 5px 5px 30px;
    margin-right: 30px;
  }
  .banner .hero-banner .hero-baner-content .banner-btn .btn-primary:hover {
    border-radius: 5px 30px 5px 5px;
  }
  .banner .hero-banner .hero-baner-content .banner-btn .btn-secondary {
    border-radius: 5px 30px 5px 5px;
  }
  .banner .hero-banner .hero-baner-content .banner-btn .btn-secondary:hover {
    border-radius: 5px 5px 5px 30px;
  }
  .banner .hero-banner .hero-banner-image {
    width: 100%;
    height: 300px;
  }
  .banner .hero-banner .hero-banner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 10px 200px;
  }
  .banner .hero-banner .hero-banner-image img:hover {
    margin-top: 10px;
  }
}
@media screen and (max-width: 768px) {
  .statistics {
    padding-left: 30px;
    width: 70%;
    margin-top: -15px !important;
  }
}
@media screen and (max-width: 576px) {
  .statistics {
    width: 90%;
  }
}
.index-about {
  background-color: #fff;
  width: 90%;
  margin: 0 auto;
  margin-top: 60px;
}
.index-about .container .flex-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.index-about .container .flex-container .text-content {
  width: 50%;
  margin-top: 100px;
}
.index-about .container .flex-container .text-content .block-heading {
  color: #85BC03;
  font-size: 40px;
  margin-bottom: 15px;
}
.index-about .container .flex-container .text-content .main-description {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
}
.index-about .container .flex-container .three-rows-container {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.index-about .container .flex-container .three-rows-container .row-item {
  background-color: #fff;
  border-radius: 0 0 0 50px;
  padding: 0px 0px 10px 20px;
  text-align: center;
  border-bottom: 1px solid #85BC03;
  border-left: 1px solid #85BC03;
  display: flex;
  gap: 15px;
}
.index-about .container .flex-container .three-rows-container .row-item .row-number {
  font-size: 50px;
  color: #000000;
  font-weight: bold;
  margin-right: 10px;
}
.index-about .container .flex-container .three-rows-container .row-item h3 {
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: left;
}
.index-about .container .flex-container .three-rows-container .row-item p {
  color: #000000;
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
}

.statistic-first {
  width: 35%;
  margin: 0 auto;
  height: 120px;
  background-color: #fff;
  border-radius: 60px;
  margin-bottom: -50px;
  z-index: 3;
}
.statistic-first h3 {
  padding-top: 20px;
  font-weight: 500;
}
.statistic-first .btn-primary {
  width: 25%;
  margin: 0 auto;
  background-color: #85BC03;
  color: #fff;
  font-size: 14px;
  border-radius: 15px;
  margin-top: 10px;
}
.statistic-first .btn-primary:hover {
  background-color: #618a02;
  color: white;
}

@media screen and (max-width: 1480px) {
  .statistic-first {
    width: 40%;
  }
  .statistic-first .btn-primary {
    width: 100px;
    padding: 10px !important;
  }
}
@media screen and (max-width: 900px) {
  .index-about {
    margin-top: 0 !important;
  }
  .index-about .container .flex-container {
    display: block;
  }
  .index-about .container .flex-container .text-content {
    width: 100%;
    margin-top: 0 !important;
    margin-bottom: 30px !important;
  }
  .index-about .container .flex-container .three-rows-container {
    width: 100%;
  }
  .statistic-first {
    width: 90%;
  }
  .statistic-first .btn-primary {
    width: 130px;
  }
}
.index-project {
  background-color: #F4F5F5;
}
.index-project .container {
  display: flex;
  justify-content: space-between;
}
.index-project .container .project-content {
  width: 32%;
}
.index-project .container .project-content .block-heading {
  color: #85BC03;
  font-size: 40px;
  font-weight: 600;
}
.index-project .container .project-content .main-description {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 15px;
}
.index-project .container .container-card {
  width: 32%;
}
.index-project .container .container-card .card {
  border-radius: 20px 20px 20px 60px;
  border: none;
  border-left: 1px solid #85BC03;
}
.index-project .container .container-card .card .card-img-top {
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border: none;
  align-items: center;
}
.index-project .container .container-card .card .card-body {
  border-radius: 0px 0px 0px 60px;
  background-color: #F4F5F5;
  border-bottom: 3px solid #85BC03;
  border-left: 1px solid #85BC03;
  padding-left: 30px;
}
.index-project .container .container-card .card .card-body .card-title {
  font-weight: 600;
}
.index-project .container .container-card .card .card-body .card-text {
  font-weight: 400;
  font-size: 16px;
}
.index-project .container .container-card .loader {
  margin-top: 65px;
  margin-right: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.index-project .container .container-card .loader .dot {
  width: 13px;
  height: 13px;
  background-color: #C0C0C0;
  border-radius: 50%;
}
.index-project .container .container-card .loader .dot:nth-child(2) {
  margin-left: 4px;
}
.index-project .container .container-card .loader .dot:nth-child(3) {
  margin: 4px;
}

@media screen and (max-width: 900px) {
  .index-project .container {
    display: block;
  }
  .index-project .container .project-content {
    width: 100%;
    margin-bottom: 30px !important;
  }
  .index-project .container .container-card {
    margin-bottom: 10px;
    width: 90%;
  }
  .index-project .container .container-card .card {
    width: 100% !important;
  }
  .loader {
    width: 100%;
  }
}
@media screen and (max-width: 568px) {
  .index-project .container .project-content {
    padding: 0 20px;
  }
  .index-project .container .container-card {
    padding: 0 20px;
  }
}
.index-contact {
  background-color: #fff;
}
.index-contact .container {
  display: flex;
  justify-content: space-between;
}
.index-contact .container .contact-content {
  margin-top: 30px;
  width: 30%;
}
.index-contact .container .contact-content .block-heading {
  color: #85BC03;
  font-size: 38px;
  font-weight: 600;
  line-height: 35px;
  margin-bottom: 20px;
}
.index-contact .container .contact-content .main-description {
  font-size: 1rem;
  font-weight: 400;
}
.index-contact .container .form-container {
  width: 45%;
}
.index-contact .container .form-container .input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.index-contact .container .form-container .input-row .input-group {
  flex-basis: 45%;
}
.index-contact .container .form-container .input-row .input-group label {
  margin-bottom: 6px;
  display: block;
  color: #8D8D8D;
}
.index-contact .container .form-container .input-row .input-group input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #8D8D8D;
  outline: none;
  padding-bottom: 5px;
}
.index-contact .container .form-container .address-row {
  margin-bottom: 20px;
}
.index-contact .container .form-container .address-row .input-group {
  flex-basis: 45%;
}
.index-contact .container .form-container .address-row .input-group label {
  margin-bottom: 6px;
  display: block;
  color: #8D8D8D;
}
.index-contact .container .form-container .address-row .input-group input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #8D8D8D;
  outline: none;
  padding-bottom: 5px;
}
.index-contact .container .form-container .message-row {
  margin-bottom: 20px;
}
.index-contact .container .form-container .message-row .input-group {
  flex-basis: 45%;
}
.index-contact .container .form-container .message-row .input-group label {
  margin-bottom: 6px;
  display: block;
  color: #8D8D8D;
}
.index-contact .container .form-container .message-row .input-group textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #8D8D8D;
  outline: none;
  padding-bottom: 5px;
}
.index-contact .container .form-container .btn {
  color: #fff;
  background-color: #85BC03;
  margin-top: 10px;
  float: right;
}

@media screen and (max-width: 900px) {
  .index-contact .container {
    display: block;
  }
  .index-contact .container .contact-content {
    width: 100%;
  }
  .index-contact .container .form-container {
    width: 100%;
  }
  .index-contact .container .form-container .btn {
    display: flex;
    float: none;
    margin: 0 auto;
  }
  .index-contact .main-description {
    margin-bottom: 30px;
  }
}
.index-service {
  background-image: url("../images/banner-bg.png");
  padding: 80px 0px 80px 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.index-service::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 242, 241, 0.933);
}
.index-service .container {
  width: 90%;
  margin-top: 80px !important;
  margin-bottom: 30px !important;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  z-index: 3;
}
.index-service .container .service-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  z-index: 2;
  order: 1;
}
.index-service .container .service-grid .service-item {
  background-color: #fff;
  border-bottom: 3px solid #85BC03;
  border-left: 1px solid #85BC03;
  border-radius: 0 0 0 50px;
  width: calc(32% - 20px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  z-index: 2;
}
.index-service .container .service-grid .service-item img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}
.index-service .container .service-grid .service-item p {
  font-size: 1.2rem;
  color: #000000;
  font-weight: 700;
}
.index-service .container .services-text {
  width: 28%;
  z-index: 2;
  order: 2;
}
.index-service .container .services-text h1 {
  color: #85BC03;
  font-weight: 600;
  font-size: 35px !important;
  margin-bottom: 10px;
}
.index-service .container .services-text p {
  font-size: 1rem;
  font-weight: 400;
}
@media (max-width: 1024px) {
  .index-service .container .service-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .index-service .container .service-grid .service-item {
    width: 200px;
    max-width: 300px;
    margin: 0 !important;
    margin-bottom: 5px !important;
  }
}
@media (max-width: 900px) {
  .index-service .container {
    flex-direction: column;
    align-items: center;
  }
  .index-service .container .service-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .index-service .container .service-grid .service-item {
    width: 800px;
    max-width: 300px;
    margin-bottom: 5px !important;
  }
  .index-service .container .services-text {
    width: 100%;
    z-index: 2;
    order: 1;
  }
  .index-service .container .service-grid {
    order: 2;
  }
}
@media (max-width: 768px) {
  .index-service .container {
    flex-direction: column;
    align-items: center;
  }
  .index-service .container .service-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .index-service .container .service-grid .service-item {
    width: 800px;
    max-width: 300px;
    margin-bottom: 5px !important;
  }
  .index-service .container .services-text {
    width: 100%;
    z-index: 2;
    order: 1;
  }
  .index-service .container .service-grid {
    order: 2;
  }
}
@media screen and (max-width: 568px) {
  .index-service .container .services-text {
    margin-top: -40px;
  }
}

.index-testimonials {
  background-image: linear-gradient(90deg, rgba(223, 224, 223, 0.9), rgba(255, 255, 255, 0.9)), url("../images/banner-bg.png");
  padding: 80px 0px 80px 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.index-testimonials .container {
  display: flex;
  justify-content: space-between;
}
.index-testimonials .container .second-container {
  width: 48%;
  justify-content: space-between;
}
.index-testimonials .container .second-container .col-md-6 {
  background-color: #fff;
  margin-left: 20px;
  display: flex;
  align-items: center;
  width: 250px;
  border-radius: 10px 10px 10px 50px;
  border-left: 1px solid #85BC03;
  border-bottom: 3px solid #85BC03;
}
.index-testimonials .container .second-container .col-md-6 .card {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 80%;
}
.index-testimonials .container .second-container .col-md-6 .testimonial-card .card-img-top {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100%;
}
.index-testimonials .container .second-container .col-md-6 .testimonial-card .card-title {
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
}
.index-testimonials .container .second-container .col-md-6 .testimonial-card .card-text {
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  width: 80%;
}
.index-testimonials .container .second-container .col-md-6 .testimonial-card .card-subtitle {
  font-weight: 600;
  padding: 30px;
}
.index-testimonials .container .container-text {
  width: 48%;
  z-index: 2;
  margin-top: 50px;
}
.index-testimonials .container .container-text h2 {
  color: #85BC03;
  font-weight: 600;
  font-size: 38px !important;
  margin-bottom: 10px;
  text-align: left;
}
.index-testimonials .container .container-text p {
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
}
@media screen and (max-width: 1024px) {
  .index-testimonials .container {
    display: flex;
  }
  .index-testimonials .container .second-container {
    width: 50%;
  }
  .index-testimonials .container .second-container .col-md-6 {
    margin-left: 0;
    margin-bottom: 20px;
  }
  .index-testimonials .container .second-container .row {
    padding: 0 10px;
  }
}
@media screen and (max-width: 725px) {
  .index-testimonials .container {
    flex-direction: column;
    align-items: center;
  }
  .index-testimonials .container .container-text {
    margin-bottom: 20px;
    order: 1;
    width: 100%;
  }
  .index-testimonials .container .second-container {
    order: 2;
    width: 100%;
  }
  .index-testimonials .container .second-container .col-md-6 {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
  }
  .index-testimonials .container .second-container .row {
    padding: 0 10px;
  }
}

footer {
  background-color: #F4F5F5;
}
footer .footer-content-block {
  padding-right: 70px;
}
footer .footer-block .logo img {
  width: 200px;
}
footer .footer-block .main-description {
  color: #8D8D8D;
  margin: 20px 0px;
}
footer .footer-block .social-icon {
  display: flex;
}
footer .footer-block .social-icon a i {
  font-size: 40px;
  margin-right: 20px;
  color: #85BC03;
  transition: 0.3s ease-in-out;
}
footer .footer-block .social-icon a i:hover {
  color: #B2EE25;
}
footer .footer-block .block-heading {
  margin-bottom: 20px;
}
footer .footer-block .footer-nav .footer-nav-item .footer-nav-link {
  font-size: 16px;
  color: #8D8D8D;
  font-weight: 400;
  margin-bottom: 10px;
}
footer .footer-block .footer-nav .footer-nav-item .footer-nav-link:hover {
  color: #1E1E1E;
}
footer .footer-block .footer-nav .footer-nav-item .footer-nav-link i {
  color: #85BC03;
  font-size: 24px;
  margin-right: 5px;
}
footer .footer-bottom {
  margin-top: 30px;
}
footer .footer-bottom .block {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footer-bottom .block p {
  font-family: cursive;
  font-size: 14px;
  font-weight: 600;
  color: #1E1E1E;
}
footer .footer-bottom .block a {
  padding: 0px 3px;
  font-family: cursive;
  color: #85BC03;
  font-size: 16px;
  font-weight: 600;
}
footer .footer-bottom .block a:hover {
  color: #B2EE25;
}

.about-page {
  background-color: #fff;
}
.about-page .container {
  padding-top: 80px;
}
.about-page .container .about-container {
  display: flex;
  justify-content: space-between;
}
.about-page .container .about-container .hero-banner-image {
  width: 600px;
  height: 400px;
}
.about-page .container .about-container .hero-banner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 200px 20px 20px;
}
.about-page .container .about-container .hero-banner-image img:hover {
  margin-top: 10px;
  border-radius: 10px 10px 200px 10px;
}
.about-page .container .about-container .about-left {
  width: 40%;
}
.about-page .container .about-container .about-left .block-heading {
  color: #85BC03;
}
.about-page .container .about-container .about-left .main-description {
  margin-top: 10px;
  font-weight: 400;
}
.about-page .container .about-banner {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
.about-page .container .about-banner .about-left {
  margin-top: 60px;
  width: 40%;
}
.about-page .container .about-banner .about-left .block-heading {
  color: #85BC03;
}
.about-page .container .about-banner .about-left .main-description {
  margin-top: 10px;
  font-weight: 400;
}
.about-page .container .about-banner .hero-banner-image {
  width: 600px;
  height: 400px;
}
.about-page .container .about-banner .hero-banner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 200px 20px 20px 20px;
}
.about-page .container .about-banner .hero-banner-image img:hover {
  margin-top: 10px;
  border-radius: 10px 10px 200px 10px;
}
.about-page .container .service-container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}
.about-page .container .service-container .service-content .block-heading {
  color: #85BC03;
}
.about-page .container .service-container .service-content .main-description {
  margin-top: 6px;
}
.about-page .container .service-container .service-grid {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  z-index: 2;
  order: 1;
}
.about-page .container .service-container .service-grid .service-item {
  background-color: #fff;
  border-bottom: 3px solid #85BC03;
  border-left: 1px solid #85BC03;
  border-radius: 0 0 0 50px;
  width: calc(19% - 20px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  z-index: 2;
  margin-left: 40px;
}
.about-page .container .service-container .service-grid .service-item img {
  width: 40px;
  height: 40px;
}
.about-page .container .service-container .service-grid .service-item p {
  font-size: 1.2rem;
  color: #000000;
  font-weight: 700;
  margin-left: 20px;
}
.about-page .container .message {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}
.about-page .container .message .about-text {
  width: 41%;
  margin-top: 60px;
}
.about-page .container .message .about-text .block-heading {
  color: #85BC03;
}
.about-page .container .message .about-text .main-description {
  margin-top: 10px;
}
.about-page .container .message .banner-image {
  margin-top: 20px;
  width: 500px;
  height: 350px;
}
.about-page .container .message .banner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 10px 200px;
}
.about-page .container .team {
  margin-top: 40px;
}
.about-page .container .team .team-content .block-heading {
  color: #85BC03;
  font-size: 35px;
  margin-bottom: 20px;
}
.about-page .container .team .rows {
  display: flex;
  justify-content: space-between;
}
.about-page .container .team .rows .team-card {
  margin-left: 10px;
}
.about-page .container .team .rows .team-card .cards {
  border: none;
  padding-left: 10px;
}
.about-page .container .team .rows .team-card .card-body {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-page .container .team .rows .team-card .card-body .card-text {
  font-size: 16px;
  margin-top: 5px;
}

.statistic {
  width: 40%;
  margin: 0 auto;
  height: 120px;
  background-color: #F4F5F5;
  border-radius: 60px;
  border-bottom: 2px solid #85BC03;
  margin-bottom: 30px;
  z-index: 3;
}
.statistic h3 {
  padding-top: 20px;
  font-weight: 500;
}
.statistic .btn-primary {
  width: 25%;
  margin: 0 auto;
  background-color: #85BC03;
  color: #fff;
  font-size: 14px;
  border-radius: 15px;
  margin-top: 10px;
}
.statistic .btn-primary:hover {
  background-color: #618a02;
  color: white;
}

.statistics-second {
  padding-left: 10px;
  background-color: #F4F5F5;
  border-radius: 60px;
  border-bottom: 1px solid #85BC03;
  margin-top: -180px;
  width: 38%;
  height: 110px;
}
.statistics-second .container {
  padding: 0 !important;
  display: flex;
  align-items: center;
}
.statistics-second .container .stat-item {
  flex: 1;
  text-align: center;
  padding-top: 20px;
}
.statistics-second .container .stat-item .item-1 {
  padding-left: 20px;
}
.statistics-second .container .stat-item h2 {
  font-size: 26px;
  color: #85BC03;
  margin-bottom: 5px;
}
.statistics-second .container .stat-item p {
  font-size: 13px;
  color: #000000;
  font-weight: 400;
}

@media screen and (max-width: 1400px) {
  .about-page .container .service-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media screen and (max-width: 1024px) {
  .about-page .container .about-container .about-left {
    width: 50%;
  }
  .about-page .container .about-container .about-left .block-heading {
    font-size: 24px;
  }
  .about-page .container .about-container .about-left .main-description {
    font-size: 16px;
  }
  .about-page .container .about-container .hero-banner-image {
    width: 45%;
    height: 300px;
  }
  .about-page .container .about-banner .hero-banner-image {
    width: 45%;
    height: 300px;
  }
  .about-page .container .about-banner .about-left {
    width: 50%;
  }
  .about-page .container .about-banner .about-left .block-heading {
    font-size: 24px;
  }
  .about-page .container .about-banner .about-left .main-description {
    font-size: 16px;
  }
  .about-page .container .message .about-text {
    width: 50%;
  }
  .about-page .container .message .about-text .block-heading {
    font-size: 24px;
  }
  .about-page .container .message .about-text .main-description {
    font-size: 16px;
  }
  .about-page .container .message .banner-image {
    width: 35%;
    height: 300px;
  }
  .about-page .container .service-container .service-grid .service-item {
    width: 200px;
    margin-left: 0;
  }
  .statistic {
    width: 50%;
  }
  .statistics-second {
    padding-left: 10px;
    background-color: #F4F5F5;
    border-radius: 60px;
    border-bottom: 1px solid #85BC03;
    margin-top: -100px;
    width: 50%;
    height: 110px;
  }
}
@media screen and (max-width: 768px) {
  .about-page .container .about-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-page .container .about-container .about-left {
    width: 90%;
  }
  .about-page .container .about-container .about-left .block-heading {
    font-size: 26px;
  }
  .about-page .container .about-container .about-left .main-description {
    font-size: 18px;
  }
  .about-page .container .about-container .hero-banner-image {
    margin-top: 30px;
    width: 600px;
    height: 400px;
  }
  .about-page .container .about-container .hero-banner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 200px 20px 20px;
  }
  .about-page .container .about-container .hero-banner-image img:hover {
    margin-top: 10px;
    border-radius: 10px 10px 200px 10px;
  }
  .about-page .container .about-banner {
    margin-top: 0;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .about-page .container .about-banner .hero-banner-image {
    margin-top: 30px;
    width: 600px;
    height: 400px;
  }
  .about-page .container .about-banner .hero-banner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 200px 20px 20px;
  }
  .about-page .container .about-banner .hero-banner-image img:hover {
    margin-top: 10px;
    border-radius: 10px 10px 200px 10px;
  }
  .about-page .container .about-banner .about-left {
    width: 90%;
  }
  .about-page .container .about-banner .about-left .block-heading {
    font-size: 26px;
  }
  .about-page .container .about-banner .about-left .main-description {
    font-size: 18px;
  }
  .about-page .container .service-container {
    justify-content: center;
    align-items: center;
  }
  .about-page .container .service-container .service-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 40px;
  }
  .about-page .container .service-container .service-grid .service-item {
    width: 300px;
  }
  .about-page .container .team .rows {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 30px;
  }
  .statistic {
    width: 70%;
  }
  .statistics-second {
    padding-left: 30px;
    margin-top: 20px !important;
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 568px) {
  .about-page .container .about-container .hero-banner-image {
    width: 90%;
  }
  .about-page .container .about-banner {
    margin-top: -20px;
  }
  .about-page .container .about-banner .hero-banner-image {
    width: 90%;
  }
  .about-page .container .service-container .service-content {
    margin-top: 5px;
    justify-content: center;
    width: 90%;
  }
  .about-page .container .service-container .service-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .about-page .container .service-container .service-grid .service-item {
    width: 300px;
    justify-content: start;
    padding-left: 40px;
    gap: 40px;
  }
  .about-page .container .message {
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }
  .about-page .container .message .about-text {
    width: 90%;
  }
  .about-page .container .message .banner-image {
    width: 90%;
  }
  .about-page .statistics-second {
    width: 90%;
    margin-top: 30px !important;
  }
  .statistic {
    width: 90%;
    height: 110px;
  }
  .statistic .container .btn-primary {
    padding: 10px;
  }
}
.project-page {
  padding: 60px 0;
}
.project-page .hero-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.project-page .hero-banner .hero-banner-content {
  width: 48%;
  margin: 20px 0;
}
.project-page .hero-banner .hero-banner-content .banner-title {
  margin-top: 10px;
  font-size: 56px;
  color: #85BC03;
  line-height: 1.1;
}
.project-page .hero-banner .hero-banner-content .banner-title span {
  color: #1E1E1E;
}
.project-page .hero-banner .hero-banner-content .main-description {
  padding: 20px 0;
  font-size: 18px;
  color: #8D8D8D;
}
.project-page .hero-banner .hero-banner-image {
  width: 34%;
  height: 500px;
  margin-top: -40px !important;
}
.project-page .hero-banner .hero-banner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 0 10px 200px;
}
.project-page .hero-banner .hero-banner-image img:hover {
  margin-top: 10px;
  border-radius: 10px 10px 10px 200px;
}
.project-page .block-heading {
  font-size: 32px;
  color: #85BC03;
  margin-top: 40px;
}
.project-page .about-description {
  font-size: 18px;
  color: #8D8D8D;
  margin-top: 20px;
}
.project-page .container-cards {
  width: 100%;
  margin-top: 40px;
}
.project-page .container-cards .row {
  padding-bottom: 40px;
}
.project-page .container-cards .row .card {
  border-radius: 30px 30px 30px 60px;
  border: none;
  border-left: 1px solid #85BC03;
}
.project-page .container-cards .row .card .card-img-top {
  border-radius: 30px 30px 0px 0px;
  background-color: #fff;
  border: none;
}
.project-page .container-cards .row .card .card-body {
  border-radius: 0px 0px 30px 60px;
  background-color: #F4F5F5;
  border-bottom: 3px solid #85BC03;
  border-left: 1px solid #85BC03;
  padding-left: 30px;
}
.project-page .container-cards .row .card .card-body .card-title {
  font-weight: 600;
}
.project-page .container-cards .row .card .card-body .card-text {
  font-weight: 400;
  font-size: 14px;
  width: 60%;
}

@media screen and (max-width: 992px) {
  .project-page .hero-banner {
    flex-direction: column;
  }
  .project-page .hero-banner .hero-banner-content {
    width: 100%;
    margin: 20px 0;
  }
  .project-page .hero-banner .hero-banner-content .banner-title {
    font-size: 38px;
  }
  .project-page .hero-banner .hero-banner-content .main-description {
    padding: 20px 0;
  }
  .project-page .hero-banner .hero-banner-image {
    width: 100%;
    height: 300px;
  }
  .project-page .hero-banner .hero-banner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 10px 200px;
  }
  .project-page .hero-banner .hero-banner-image img:hover {
    margin-top: 10px;
  }
}
@media screen and (max-width: 768px) {
  .project-page .container-cards .row {
    padding: 0 !important;
  }
  .project-page .container-cards .row .col-md-4 {
    padding: 10px;
  }
  .project-page .container-cards .row .card .card-body .card-text {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .project-page .container-cards .row {
    padding: 0 !important;
  }
  .project-page .container-cards .row .col-md-4 {
    padding: 10px;
  }
  .project-page .container-cards .row .card .card-body .card-text {
    width: 100%;
  }
}
.blogpost-page {
  padding: 100px 0px 0px 0px;
}
.blogpost-page .blur-hero {
  top: 30%;
}
.blogpost-page .articles-items {
  width: 100%;
}
.blogpost-page .articles-items .articles-img {
  width: 100%;
  border-radius: 20px;
  height: 75vh;
  overflow: hidden;
  margin: auto;
}
.blogpost-page .articles-items .articles-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blogpost-page .articles-items .date {
  font-size: 16px;
  font-weight: 700;
  text-align: right;
  margin: 30px 0px 10px 0px;
}
.blogpost-page .articles-items .common-overview-description {
  margin: 20px 0px;
}

@media screen and (max-width: 992px) {
  .blogpost-page .articles-items {
    width: 100%;
  }
  .blogpost-page .articles-items .articles-img {
    height: 45vh;
  }
}
@media screen and (max-width: 576px) {
  .blogpost-page .articles-items {
    width: 100%;
  }
  .blogpost-page .articles-items .articles-img {
    height: 35vh;
  }
}
.page-contact {
  padding: 100px 0px 0px 0px;
}
.page-contact .container {
  text-align: center;
}
.page-contact .container .block-heading {
  font-size: 2rem;
  font-family: 800;
}
.page-contact .container .main-description {
  color: #8D8D8D;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.page-contact .container .contact-boxpage {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}
.page-contact .container .contact-boxpage .contact-left {
  height: 450px;
  background-color: #85BC03;
  flex-basis: 30%;
  color: white;
  border-radius: 10px;
  margin-left: 80px;
  line-height: 40px;
  padding-top: 20px;
}
.page-contact .container .contact-boxpage .contact-left h3 {
  margin-top: 10px;
  color: #fff;
  font-size: 24px;
}
.page-contact .container .contact-boxpage .contact-left p {
  color: #8D8D8D;
  align-items: center;
  padding-top: 10px;
}
.page-contact .container .contact-boxpage .contact-left .social-icons {
  text-align: left;
  margin-top: 20px;
}
.page-contact .container .contact-boxpage .contact-left .social-icons a {
  display: inline-block;
  margin-left: 25px;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s ease;
}
.page-contact .container .contact-boxpage .contact-left .social-icons .fa-square-facebook {
  padding-left: 30px;
}
.page-contact .container .contact-boxpage .contact-left .social-icons i {
  font-size: 30px;
  vertical-align: middle;
}
.page-contact .container .contact-boxpage .contact-left ul {
  margin-top: 40px;
  text-align: left;
  padding-left: 30px;
  line-height: 70px;
}
.page-contact .container .contact-boxpage .contact-left ul .fas {
  padding-right: 20px;
}
.page-contact .container .contact-boxpage .contact-right {
  flex-basis: 60%;
  padding: 40px 80px;
}
.page-contact .container .contact-boxpage .contact-right .input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.page-contact .container .contact-boxpage .contact-right .input-row .input-group {
  flex-basis: 45%;
}
.page-contact .container .contact-boxpage .contact-right .input-row .input-group label {
  margin-bottom: 6px;
  display: block;
  color: #8d8d8d;
}
.page-contact .container .contact-boxpage .contact-right .input-row .input-group input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #8d8d8d;
  outline: none;
  padding-bottom: 5px;
}
.page-contact .container .contact-boxpage .contact-right .address-row {
  margin-bottom: 20px;
}
.page-contact .container .contact-boxpage .contact-right .address-row .input-group {
  flex-basis: 45%;
}
.page-contact .container .contact-boxpage .contact-right .address-row .input-group label {
  margin-bottom: 6px;
  display: block;
  color: #8d8d8d;
}
.page-contact .container .contact-boxpage .contact-right .address-row .input-group input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #8d8d8d;
  outline: none;
  padding-bottom: 5px;
}
.page-contact .container .contact-boxpage .contact-right .message-row {
  margin-bottom: 20px;
}
.page-contact .container .contact-boxpage .contact-right .message-row .input-group {
  flex-basis: 45%;
}
.page-contact .container .contact-boxpage .contact-right .message-row .input-group label {
  margin-bottom: 6px;
  display: block;
  color: #8d8d8d;
}
.page-contact .container .contact-boxpage .contact-right .message-row .input-group textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #8d8d8d;
  outline: none;
  padding-bottom: 5px;
}
.page-contact .container .contact-boxpage .contact-right .btn {
  color: #fff;
  background-color: #85BC03;
  margin-top: 10px;
  float: right;
}

@media screen and (max-width: 1024px) {
  .page-contact .container .contact-boxpage .contact-left {
    flex-basis: 40%;
  }
  .page-contact .container .contact-boxpage .contact-right {
    flex-basis: 60%;
    padding: 40px 80px;
  }
}
@media screen and (max-width: 768px) {
  .page-contact {
    padding: 80px 20px;
  }
  .page-contact .container .contact-boxpage {
    display: block;
  }
  .page-contact .container .contact-boxpage .contact-left {
    margin: 0;
    padding-top: 0 !important;
  }
  .page-contact .container .contact-boxpage .contact-right {
    padding: 20px;
  }
}
@media screen and (max-width: 578px) {
  .page-contact {
    padding: 50px 0;
  }
  .page-contact .container {
    margin-top: 50px;
  }
  .page-contact .container .contact-boxpage {
    padding: 0 20px;
    flex-direction: column;
    align-items: center;
  }
  .page-contact .container .contact-boxpage .contact-left {
    margin: 0;
    margin-bottom: 20px;
    height: auto;
    padding: 20px;
    line-height: 30px;
  }
  .page-contact .container .contact-boxpage .contact-left h3 {
    padding-top: 20px;
  }
  .page-contact .container .contact-boxpage .contact-right {
    flex-basis: 100%;
    margin: 0;
    padding: 20px;
  }
  .page-contact .container .contact-boxpage .contact-right form .input-row,
  .page-contact .container .contact-boxpage .contact-right form .address-row,
  .page-contact .container .contact-boxpage .contact-right form .message-row {
    flex-direction: column;
  }
  .page-contact .container .contact-boxpage .contact-right form .input-row .input-group,
  .page-contact .container .contact-boxpage .contact-right form .address-row .input-group,
  .page-contact .container .contact-boxpage .contact-right form .message-row .input-group {
    width: 100%;
  }
  .page-contact .container .contact-boxpage .contact-right form .btn {
    width: 100%;
    float: none;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
